<section class="features">
  <div class="container">
    <h2 class="features__title">Где можно принимать платежи</h2>
    <div class="features__wrap featuresSlider">
      <div class="features__item">
        <img
          class="features__img"
          src="img/features-1.jpg"
          alt="У клиента дома или в офисе"
        />
        <div class="features__item-wrap">
          <h3 class="features__item-title">У клиента дома или в офисе</h3>
          <ul class="features__item-list">
            <li class="features__item-list-item">
              <img
                class="features__item-list-icon"
                src="img/credit-card.svg"
                alt="Банковской картой"
              />
              <p class="features__item-list-text">Банковской картой</p>
            </li>
            <li class="features__item-list-item">
              <img
                class="features__item-list-icon"
                src="img/phone.svg"
                alt="Оплата касанием"
              />
              <p class="features__item-list-text">Оплата касанием</p>
            </li>
            <li class="features__item-list-item">
              <img
                class="features__item-list-icon"
                src="img/qr.svg"
                alt="QR-код"
              />
              <p class="features__item-list-text">QR-код</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="features__item">
        <img
          class="features__img"
          src="img/features-2.jpg"
          alt="В любой точке на карте"
        />
        <div class="features__item-wrap">
          <h3 class="features__item-title">В любой точке на карте</h3>
          <ul class="features__item-list">
            <li class="features__item-list-item">
              <img
                class="features__item-list-icon"
                src="img/credit-card.svg"
                alt="Банковской картой"
              />
              <p class="features__item-list-text">Банковской картой</p>
            </li>
            <li class="features__item-list-item">
              <img
                class="features__item-list-icon"
                src="img/phone.svg"
                alt="Оплата касанием"
              />
              <p class="features__item-list-text">Оплата касанием</p>
            </li>
            <li class="features__item-list-item">
              <img
                class="features__item-list-icon"
                src="img/qr.svg"
                alt="QR-код"
              />
              <p class="features__item-list-text">QR-код</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a class="features__btn btn" href="#!">Хочу</a>
  </div>
</section>
